@import './hero';

.upsell{
    margin-top: 75px;
    &__link{
        @include hover-link-arrow;
    }
    &__app-icon{
        z-index: 2;
        width: 304px;
        top: calc(50% - 304px/2 + 75px);
        left: calc(50% - 304px/2 - 125px);
    }
    &__mobile{
        width: 376px;
        height: 782px;
        right: 0;
        top: 0;
    }
}